<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>vue-datetime demo</title>
    <meta name="description" content="vue-datetime docs">
    <meta name="author" content="Mario Juárez">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/atom-one-light.min.css">
</head>

<body>
<div id="app" class="page">
    <h1><a href="https://github.com/mariomka/vue-datetime">vue-datetime demo</a></h1>

    <h2>Datetime</h2>

    <div class="example">
        <div class="example-inputs">
            <datetime type="datetime" v-model="datetime"></datetime>

            <div class="values">
                <p>
                    <strong>Value:</strong> {{ datetime }}
                </p>
            </div>
        </div>
        <div class="example-code">
            <pre><code>&#x3C;datetime type&#x22;datetime&#x22; v-model=&#x22;datetime&#x22;&#x3E;&#x3C;/datetime&#x3E;</code></pre>
        </div>
    </div>

    <footer>
        © <a href="https://github.com/mariomka">Mario Juárez</a> -
        <a href="https://github.com/mariomka/vue-datetime">Code on Github</a>
    </footer>
</div>

<script src="dist/app.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad()</script>
</body>
</html>
