<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>vue-datetime demo</title>
  <meta name="description" content="vue-datetime demo docs">
  <meta name="author" content="Mario Juárez">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/atom-one-light.min.css">
</head>

<body>
<div id="app" class="page">
  <h1><a href="https://github.com/mariomka/vue-datetime">vue-datetime demo</a></h1>

  <h2>Date</h2>

  <div class="example">
    <div class="example-inputs">
      <datetime v-model="date"></datetime>

      <div class="values">
        <p>
          <strong>Value:</strong> {{ date }}
        </p>
      </div>
    </div>
    <div class="example-code">
      <pre><code>&#x3C;datetime v-model=&#x22;date&#x22;&#x3E;&#x3C;/datetime&#x3E;</code></pre>
    </div>
  </div>

  <h2>Datetime</h2>

  <div class="example">
    <div class="example-inputs">
      <datetime type="datetime" v-model="datetime"></datetime>

      <div class="values">
        <p>
          <strong>Value:</strong> {{ datetime }}
        </p>
      </div>
    </div>
    <div class="example-code">
      <pre><code>&#x3C;datetime type=&#x22;datetime&#x22; v-model=&#x22;datetime&#x22;&#x3E;&#x3C;/datetime&#x3E;</code></pre>
    </div>
  </div>

  <h2>12h datetime</h2>

  <div class="example">
    <div class="example-inputs">
      <datetime type="datetime" v-model="datetime12" use12-hour></datetime>

      <div class="values">
        <p>
          <strong>Value:</strong> {{ datetime12 }}
        </p>
      </div>
    </div>
    <div class="example-code">
      <pre><code>&#x3C;datetime type=&#x22;datetime&#x22; v-model=&#x22;datetime12&#x22; use12-hour&#x3E;&#x3C;/datetime&#x3E;</code></pre>
    </div>
  </div>

  <h2>Complete demo</h2>

  <div class="example">
    <div class="example-inputs">
      <datetime
          type="datetime"
          v-model="datetimeEmpty"
          placeholder="Select date"
          class="my-wrapper-class"
          input-class="my-input-class"
          value-zone="America/New_York"
          zone="Asia/Shanghai"
          :format="{ year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: '2-digit', timeZoneName: 'short' }"
          :phrases="{ok: 'Continue', cancel: 'Exit'}"
          :hour-step="2"
          :minute-step="15"
          :min-datetime="minDatetime"
          :max-datetime="maxDatetime"
          :week-start="7"
          use12-hour
          auto
      ></datetime>

      <div class="values">
        <p>
          <strong>Value:</strong> {{ datetimeEmpty }}
        </p>
      </div>
    </div>
    <div class="example-code">
      <pre><code>&#x3C;datetime
  type=&#x22;datetime&#x22;
  v-model=&#x22;datetimeEmpty&#x22;
  input-class=&#x22;my-class&#x22;
  value-zone=&#x22;America/New_York&#x22;
  zone=&#x22;Asia/Shanghai&#x22;
  :format=&#x22;{ year: &#x27;numeric&#x27;, month: &#x27;long&#x27;, day: &#x27;numeric&#x27;, hour: &#x27;numeric&#x27;, minute: &#x27;2-digit&#x27;, timeZoneName: &#x27;short&#x27; }&#x22;
  :phrases=&#x22;{ok: &#x27;Continue&#x27;, cancel: &#x27;Exit&#x27;}&#x22;
  :hour-step=&#x22;2&#x22;
  :minute-step=&#x22;15&#x22;
  :min-datetime=&#x22;minDatetime&#x22;
  :max-datetime=&#x22;maxDatetime&#x22;
  :week-start=&#x22;7&#x22;
  use12-hour
  auto
  &#x3E;&#x3C;/datetime&#x3E;</code></pre>
    </div>
  </div>

  <h2>Theming</h2>

  <div class="example">
    <div class="example-inputs">
      <datetime type="datetime" v-model="datetimeTheming" class="theme-orange"></datetime>

      <div class="values">
        <p>
          <strong>Value:</strong> {{ datetimeTheming }}
        </p>
      </div>
    </div>
    <div class="example-code">
      <pre><code>&#x3C;datetime type=&#x22;datetime&#x22; v-model=&#x22;datetimeTheming&#x22; class=&#x22;theme-orange&#x22;&#x3E;&#x3C;/datetime&#x3E;</code></pre>

      <pre><code>.theme-orange .vdatetime-popup__header,
.theme-orange .vdatetime-calendar__month__day--selected > span > span,
.theme-orange .vdatetime-calendar__month__day--selected:hover > span > span {
  background: #FF9800;
}

.theme-orange .vdatetime-year-picker__item--selected,
.theme-orange .vdatetime-time-picker__item--selected,
.theme-orange .vdatetime-popup__actions__button {
  color: #ff9800;
}</code></pre>
    </div>
  </div>

  <footer>
    © <a href="https://github.com/mariomka">Mario Juárez</a> -
    <a href="https://github.com/mariomka/vue-datetime">Code on Github</a>
  </footer>
</div>

<script src="dist/app.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad()</script>
</body>
</html>
